{
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.{js,html,css}",
            "options": { "tabWidth": 2 }
        }
    ],
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "arrowParens": "avoid"
}
